<div id="root">
</div>

<script type="text/javascript" >
  window.images = {
    plusImg: '<%= asset_path('images/places/plus.png') %>',
    githubImg: '<%= asset_path('images/footer/github.svg') %>',
    linkedinImg: '<%= asset_path('images/footer/linkedin.png') %>',
    headerImg: '<%= asset_path('images/nav_bar/page.png') %>',
    miniDoc: '<%= asset_path('images/places/google-docs-mini.png') %>',
    sharedImg: '<%= asset_path('images/places/shared_people.png') %>',
    hamburgerDots: '<%= asset_path('images/places_index_item/hamburger-icon.png') %>',
    trashIcon: '<%= asset_path('images/places_index_item/trash-icon.png') %>',
    textIcon: '<%= asset_path('images/places_index_item/tt.png') %>',
  }
</script>
